@import-normalize;

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Roboto-Medium";
  src: local("Roboto-Medium"), url(./assets/fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: "Roboto-Light";
  src: local("Roboto-Light"), url(./assets/fonts/Roboto-Light.ttf);
}

#root {
  min-height: 100vh;
  font-family: Roboto-Light;
}
